.main-comp-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

app-movie-list {
  background-color: rebeccapurple;
  height: auto;
  padding: 20px;
}

app-movie-details {
  background-color: blue;
  height: 300px;
  padding: 20px;
}
